.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 20px;
    z-index: 10;
}

.footer .footer-activities {
    display: flex;
    flex-direction: column;
}

.footer .footer-activities img {
    margin-bottom: 30px;
}

.footer img {
    max-height: 30px;
    max-width: 100%;
}

.footer .logo-footer img {
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}