.intensity-chart {
  background-color: #282D30;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 263px;
  padding: 10px;
}

.recharts-wrapper {
  border-radius: 10px;
}